{extend name="public/base" /}
{block name="body"}
<section class="my-5 pt-5">
<div class="container">


        <div class="col-sm-12">

            <div class="row mb-3">
                <div class="col-9">
                    <div class="card text-center">
                        <div class="card-body">
                            <h4 class="card-title">Sun Gone</h4>
                            <h6 class="card-subtitle text-muted">Sun disappears!</h6>
                        </div>
                        <img src="https://via.placeholder.com/300x150" alt="Photo of sunset">

                        <div class="card-body">
                            <p class="card-text">The sun disappeared behind the horizon today. Experts claim it could be gone for
                                good!</p>
                            <a href="javascript:void(0);" class="btn btn-primary">详情</a>
                        </div>

                    </div>
                </div>

                <div class="col-3">
                    <nav class="nav flex-column">
                        <a class="nav-link active" href="javascript:void(0);">HTML</a>
                        <a class="nav-link" href="javascript:void(0);">CSS</a>
                        <a class="nav-link" href="javascript:void(0);">JavaScript</a>
                        <a class="nav-link" href="javascript:void(0);">Preview</a>
                    </nav>
                </div>

            </div>

        </div>

</div>
</section>

{/block}