<link rel="stylesheet" type="text/css" href="__STATIC__/plugs/nanoscroller/nanoscroller.css">
<script src="__STATIC__/plugs/nanoscroller/jquery.nanoscroller.min.js"></script>
<script src="__STATIC__/js/bootstrap.js"></script>
<script src="__STATIC__/plugs/jquery/pace.min.js"></script>

<script src="__STATIC__/js/hopscotch.js"></script>
<link rel="stylesheet" type="text/css" href="__STATIC__/css/libs/hopscotch.css">

<script src="__STATIC__/js/messager.js"></script>
<script src="__STATIC__/js/admin/app.js"></script>
<script type="text/javascript">
(function(){
	var YihaoCMS = window.Sent = {
		"ROOT"   : "__ROOT__", //当前网站地址
		"APP"    : "__APP__", //当前项目地址
		"PUBLIC" : "__STATIC__", //项目公共目录地址
		"DEEP"   : "{:config('URL_PATHINFO_DEPR')}", //PATHINFO分割符
		"MODEL"  : ["{:config('URL_MODEL')}", "{:config('URL_CASE_INSENSITIVE')}", "{:config('URL_HTML_SUFFIX')}"],
		"VAR"    : ["{:config('VAR_MODULE')}", "{:config('VAR_CONTROLLER')}", "{:config('VAR_ACTION')}"]
	}
})();
</script>
<script src="__STATIC__/js/core.js"></script>
</body>
</html>