{extend name="public/base"/}
{block name="body"}
<h1 class="text-center">完成</h1>
<div class="row">
	<div class="col-sm-6">
		<ul class="list-group">
			<li class="list-group-item"><a href="http://www.tensent.cn" target="_blank">南昌腾速科技有限公司</a></li>
			<li class="list-group-item"><a href="http://git.oschina.net/YihaoCMS/YihaoCMS" target="_blank">YihaoCMS3.0版本库</a></li>
			<li class="list-group-item"><a href="http://wpa.qq.com/msgrd?v=3&uin=707479167&site=qq&menu=yes" target="_blank">系统定制</a></li>
		</ul>
	</div>
	<div class="col-sm-6">
		<ul class="list-group">
			<li class="list-group-item"><a href="http://doc.YihaoCMS.com" target="_blank">YihaoCMS3.0开发文档</a></li>
			<li class="list-group-item"><a href="http://bbs.YihaoCMS.com" target="_blank">YihaoCMS讨论社区</a></li>
			<li class="list-group-item"><a href="http://jq.qq.com/?_wv=1027&k=2GgKNPQ" target="_blank">开发交流群</a></li>
		</ul>
	</div>
</div>
{/block}
{block name="footer"}
<div class="text-center">
    <a class="btn btn-primary" target="_blank" href="{:url('/admin')}">登录后台</a>
    <a class="btn btn-success" target="_blank" href="{:url('/')}">访问首页</a>
</div>
{/block}