<div class="col-lg-{$addons_config.width}">
	<div class="main-box clearfix">
		<header class="main-box-header clearfix">
			<h2>{$addons_config.title}</h2>
		</header>
		<div class="main-box-body clearfix">
			<table class="table">
				<tr>
					<th>总策划</th>
					<td>王海滨</td>
				</tr>
				<tr>
					<th>产品设计及研发团队</th>
					<td>王海滨</td>
				</tr>
				<tr>
					<th>界面及用户体验团队</th>
					<td>BootStrap 团队</td>
				</tr>
				<tr>
					<th>官方网址</th>
					<td><a href="http://www.diao.info" target="_blank">DIAO.info</a></td>
				</tr>
				<tr>
					<th>官方QQ群</th>
					<td><a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=29fe5a2c88636692f02ab6569deb2bafd6652fe9217498ef6dc7235926b783d9"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="YihaoCMS技术交流" title="YihaoCMS技术交流"></a></td>
				</tr>
				<tr>
					<th>BUG反馈</th>
					<td><a href="http://www.diao.info" target="_blank">WWW.DIAO.info</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>